docs/yakaza/specs/workspace/spl/s.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- W3C Schema generated by XMLSpy v2016 (x64) (http://www.altova.com) -->
<xs:schema targetNamespace="urn:hl7-org:v3" xmlns="urn:hl7-org:v3" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="id">
		<xs:complexType>
			<xs:attribute name="extension">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="A.1.0.1"/>
						<xs:enumeration value="A.1.10.1"/>
						<xs:enumeration value="A.1.11.r.2"/>
						<xs:enumeration value="A.1.12.r"/>
						<xs:enumeration value="A.5.1.r.1"/>
						<xs:enumeration value="A.5.3"/>
						<xs:enumeration value="B.1.1.1a"/>
						<xs:enumeration value="B.1.1.1b"/>
						<xs:enumeration value="B.1.1.1c"/>
						<xs:enumeration value="B.1.1.1d"/>
						<xs:enumeration value="B.4.k.3.1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="root">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="154eb889-958b-45f2-a02f-42d4d6f4657f"/>
						<xs:enumeration value="2.16.840.1.113883.3.989.2.1.3.1"/>
						<xs:enumeration value="2.16.840.1.113883.3.989.2.1.3.10"/>
						<xs:enumeration value="2.16.840.1.113883.3.989.2.1.3.2"/>
						<xs:enumeration value="2.16.840.1.113883.3.989.2.1.3.3"/>
						<xs:enumeration value="2.16.840.1.113883.3.989.2.1.3.4"/>
						<xs:enumeration value="2.16.840.1.113883.3.989.2.1.3.5"/>
						<xs:enumeration value="2.16.840.1.113883.3.989.2.1.3.6"/>
						<xs:enumeration value="2.16.840.1.113883.3.989.2.1.3.7"/>
						<xs:enumeration value="2.16.840.1.113883.3.989.2.1.3.8"/>
						<xs:enumeration value="2.16.840.1.113883.3.989.2.1.3.9"/>
						<xs:enumeration value="2baa28d6-c9e8-4e6c-93e9-5b860b314220"/>
						<xs:enumeration value="3c91b4d5-e039-4a7a-9c30-67671b0ef9e4"/>
						<xs:enumeration value="48829f66-4528-421d-b270-6f9b5b7a7aed"/>
						<xs:enumeration value="510846a9-401a-4ed9-9908-1e107c4e5b81"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="nullFlavor">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="NI"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="assigningAuthorityName">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="A.1.11.r.1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="act">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="code"/>
			</xs:sequence>
			<xs:attribute name="classCode" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="ACT"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="moodCode" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="EVN"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="low">
		<xs:complexType>
			<xs:attribute name="value">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:enumeration value="10"/>
						<xs:enumeration value="20090101"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="nullFlavor">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="NINF"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="unit">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="mg/dl"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="inclusive" type="xs:boolean"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="addr">
		<xs:complexType>
			<xs:choice>
				<xs:sequence>
					<xs:element ref="streetAddressLine"/>
					<xs:element ref="city"/>
					<xs:element ref="state"/>
					<xs:element ref="postalCode"/>
				</xs:sequence>
				<xs:element ref="country"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="city">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="A.2.r.1.2d"/>
				<xs:enumeration value="A.3.4b"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="code">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="originalText" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="code">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="A.1.10.2"/>
						<xs:enumeration value="A.2.r.1.3"/>
						<xs:enumeration value="A.2.r.1.4"/>
						<xs:enumeration value="A.3.1"/>
						<xs:enumeration value="A.3.4e"/>
						<xs:enumeration value="A.5.1.r.2"/>
						<xs:enumeration value="A.5.4"/>
						<xs:enumeration value="B.1.10.7.1.r.a2"/>
						<xs:enumeration value="B.1.10.8.r.a1"/>
						<xs:enumeration value="B.1.10.8.r.a3"/>
						<xs:enumeration value="B.1.7.1.r.a.2"/>
						<xs:enumeration value="B.1.8.r.a1"/>
						<xs:enumeration value="B.1.8.r.a3"/>
						<xs:enumeration value="B.2.i.8"/>
						<xs:enumeration value="B.3.r.c2"/>
						<xs:enumeration value="B.4.k.2.1.1a"/>
						<xs:enumeration value="B.4.k.2.3.r.2a"/>
						<xs:enumeration value="B.4.k.3.2"/>
						<xs:enumeration value="B.4.k.8"/>
						<xs:enumeration value="PAT_ADV_EVNT"/>
						<xs:enumeration value="PORR_TE049016UV"/>
						<xs:enumeration value="PRN"/>
						<xs:enumeration value="additionalDocumentsAvailable"/>
						<xs:enumeration value="additionalInformation"/>
						<xs:enumeration value="age"/>
						<xs:enumeration value="ageGroup"/>
						<xs:enumeration value="autopsy"/>
						<xs:enumeration value="blinded"/>
						<xs:enumeration value="bodyweight"/>
						<xs:enumeration value="causality"/>
						<xs:enumeration value="causeOfDeath"/>
						<xs:enumeration value="codedDrugInformation"/>
						<xs:enumeration value="comment"/>
						<xs:enumeration value="concommitantTherapy"/>
						<xs:enumeration value="congenitalAnomalyBirthDefect"/>
						<xs:enumeration value="continuing"/>
						<xs:enumeration value="cumulativeDoseToReaction"/>
						<xs:enumeration value="diagnosis"/>
						<xs:enumeration value="drugHistory"/>
						<xs:enumeration value="drugInformation"/>
						<xs:enumeration value="familyHistory"/>
						<xs:enumeration value="gestationPeriod"/>
						<xs:enumeration value="gpmrn"/>
						<xs:enumeration value="height"/>
						<xs:enumeration value="historyAndConcurrentConditionText"/>
						<xs:enumeration value="hospitalMrn"/>
						<xs:enumeration value="ichReportType"/>
						<xs:enumeration value="indication"/>
						<xs:enumeration value="initialReport"/>
						<xs:enumeration value="interventionCharacterization"/>
						<xs:enumeration value="investigation"/>
						<xs:enumeration value="isLifeThreatening"/>
						<xs:enumeration value="lastMenstrualPeriodDate"/>
						<xs:enumeration value="localCriteriaForExpedited"/>
						<xs:enumeration value="medicalConfirmationByHealthProfessional"/>
						<xs:enumeration value="moreInformationAvailable"/>
						<xs:enumeration value="nullificationAmendmentCode"/>
						<xs:enumeration value="nullificationAmendmentReason"/>
						<xs:enumeration value="otherCaseIds"/>
						<xs:enumeration value="otherMedicallyImportantCondition"/>
						<xs:enumeration value="outcome"/>
						<xs:enumeration value="parentRouteOfAdministration"/>
						<xs:enumeration value="reaction"/>
						<xs:enumeration value="reactionForTranslation"/>
						<xs:enumeration value="recurranceOfReaction"/>
						<xs:enumeration value="relevantMedicalHistoryAndConcurrentConditions"/>
						<xs:enumeration value="reportedCauseOfDeath"/>
						<xs:enumeration value="reporter"/>
						<xs:enumeration value="requiresInpatientHospitalization"/>
						<xs:enumeration value="resultsInDeath"/>
						<xs:enumeration value="resultsInPersistentOrSignificantDisability"/>
						<xs:enumeration value="retailSupply"/>
						<xs:enumeration value="sender"/>
						<xs:enumeration value="sourceReport"/>
						<xs:enumeration value="sourceReporter"/>
						<xs:enumeration value="specialistMrn"/>
						<xs:enumeration value="summaryAndComment"/>
						<xs:enumeration value="termHighlightedByReporter"/>
						<xs:enumeration value="testsAndProceduresRelevantToTheInvestigation"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="codeSystem">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="1.0.3166.1.2.2"/>
						<xs:enumeration value="2.16.840.1.113883.1.18"/>
						<xs:enumeration value="2.16.840.1.113883.3.989.2.1.1.15"/>
						<xs:enumeration value="2.16.840.1.113883.3.989.2.1.1.18"/>
						<xs:enumeration value="2.16.840.1.113883.3.989.2.1.1.19"/>
						<xs:enumeration value="2.16.840.1.113883.3.989.2.1.1.20"/>
						<xs:enumeration value="2.16.840.1.113883.3.989.2.1.1.21"/>
						<xs:enumeration value="2.16.840.1.113883.3.989.2.1.1.22"/>
						<xs:enumeration value="2.16.840.1.113883.3.989.2.1.1.23"/>
						<xs:enumeration value="2.16.840.1.113883.3.989.2.1.1.3"/>
						<xs:enumeration value="2.16.840.1.113883.3.989.2.1.1.4"/>
						<xs:enumeration value="2.16.840.1.113883.3.989.2.1.1.6"/>
						<xs:enumeration value="2.16.840.1.113883.3.989.2.1.1.7"/>
						<xs:enumeration value="2.16.840.1.113883.3.989.2.1.1.8"/>
						<xs:enumeration value="2.16.840.1.113883.3.989.2.1.3.20"/>
						<xs:enumeration value="2.16.840.1.113883.5.111"/>
						<xs:enumeration value="2.16.840.1.113883.5.4"/>
						<xs:enumeration value="2.16.840.1.113883.6.163"/>
						<xs:enumeration value="TBD"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="codeSystemVersion">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="B.1.10.7.1.r.a.1"/>
						<xs:enumeration value="B.1.10.8.r.a2"/>
						<xs:enumeration value="B.1.10.8.r.a4"/>
						<xs:enumeration value="B.1.7.1.r.a.1"/>
						<xs:enumeration value="B.1.8.r.a2"/>
						<xs:enumeration value="B.1.8.r.a4"/>
						<xs:enumeration value="B.3.r.c3"/>
						<xs:enumeration value="B.4.k.2.1.1b"/>
						<xs:enumeration value="B.4.k.2.3.r.2b"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="nullFlavor">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="NA"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="comp" type="T_comp"/>
	<xs:element name="high">
		<xs:complexType>
			<xs:attribute name="value">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:enumeration value="10"/>
						<xs:enumeration value="20090101"/>
						<xs:enumeration value="20090102"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="unit">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="mg/dl"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="inclusive" type="xs:boolean"/>
			<xs:attribute name="nullFlavor">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="PINF"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="name">
		<xs:complexType mixed="true">
			<xs:sequence minOccurs="0">
				<xs:element ref="prefix"/>
				<xs:element ref="given" maxOccurs="unbounded"/>
				<xs:element ref="family"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="role">
		<xs:complexType>
			<xs:choice>
				<xs:sequence>
					<xs:element ref="code"/>
					<xs:element ref="associatedPerson"/>
					<xs:element ref="subjectOf2" maxOccurs="unbounded"/>
				</xs:sequence>
				<xs:element ref="playingOrganization"/>
			</xs:choice>
			<xs:attribute name="classCode" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="HLD"/>
						<xs:enumeration value="PRS"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="text">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_text">
					<xs:attribute name="mediaType">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="application/pdf"/>
								<xs:enumeration value="image/jpeg"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="representation">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="B64"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="compression">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="DF"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="given">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="A.2.r.1.1b"/>
				<xs:enumeration value="A.2.r.1.1c"/>
				<xs:enumeration value="A.2.r.1c"/>
				<xs:enumeration value="A.3.3c"/>
				<xs:enumeration value="A.3.3d"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="state">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="A.2.r.1.2e"/>
				<xs:enumeration value="A.3.4c"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="title">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="A.1.8.1.r.1 Documents Held by Sender"/>
				<xs:enumeration value="A.5.2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="value" type="T_value"/>
	<xs:element name="width">
		<xs:complexType>
			<xs:attribute name="value" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="24"/>
						<xs:enumeration value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="unit" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="B.2.i.5b"/>
						<xs:enumeration value="B.4.k.4.r.8b"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="author">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="territorialAuthority"/>
				<xs:element ref="assignedEntity"/>
			</xs:choice>
			<xs:attribute name="typeCode" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="AUT"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="center">
		<xs:complexType>
			<xs:attribute name="value" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="unit" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="mg/dl"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="family">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="A.2.r.1.1d"/>
				<xs:enumeration value="A.3.3e"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="holder">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="role"/>
			</xs:sequence>
			<xs:attribute name="typeCode" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="HLD"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="period">
		<xs:complexType>
			<xs:attribute name="value" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="unit" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="B.4.k.4.r.5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="prefix">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="A.2.r.1.1a"/>
				<xs:enumeration value="A.3.3b"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="country">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="B.4.k.2.4"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="player1">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="name"/>
				<xs:element ref="administrativeGenderCode"/>
				<xs:element ref="birthTime"/>
				<xs:element ref="deceasedTime"/>
				<xs:element ref="asIdentifiedEntity" maxOccurs="unbounded"/>
				<xs:element ref="role"/>
			</xs:sequence>
			<xs:attribute name="classCode" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="PSN"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="determinerCode" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="INSTANCE"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="subject">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="investigationEvent"/>
			</xs:sequence>
			<xs:attribute name="typeCode" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="SUBJ"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="telecom">
		<xs:complexType>
			<xs:attribute name="value" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:anyURI">
						<xs:enumeration value="fax:A.3.4i"/>
						<xs:enumeration value="mailto:A.3.4l"/>
						<xs:enumeration value="tel:A.2.r.1.2g"/>
						<xs:enumeration value="tel:A.3.4f"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="approval">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="id"/>
				<xs:element ref="holder"/>
				<xs:element ref="author"/>
			</xs:sequence>
			<xs:attribute name="classCode" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="CNTRCT"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="moodCode" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="EVN"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="document">
		<xs:complexType>
			<xs:choice>
				<xs:sequence>
					<xs:element ref="text"/>
					<xs:element ref="bibliographicDesignationText"/>
				</xs:sequence>
				<xs:sequence>
					<xs:element ref="title"/>
					<xs:element ref="text"/>
				</xs:sequence>
			</xs:choice>
			<xs:attribute name="classCode" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="DOC"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="moodCode" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="EVN"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="formCode">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="originalText"/>
			</xs:sequence>
			<xs:attribute name="code" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="B.4.k.4.r.11.2a"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="codeSystem" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="TBD"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="codeSystemVersion" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="B.4.k.4.r.11.2b"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="location">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="locatedEntity"/>
				<xs:element ref="code"/>
			</xs:choice>
			<xs:attribute name="typeCode">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="LOC"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="classCode">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="COUNTRY"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="determinerCode">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="INSTANCE"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="quantity">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="numerator"/>
				<xs:element ref="denominator"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="subject1">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="adverseEffectReference"/>
				<xs:element ref="primaryRole"/>
			</xs:choice>
			<xs:attribute name="typeCode" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="SBJ"/>
						<xs:enumeration value="SUBJ"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="subject2">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="productUseReference"/>
			</xs:sequence>
			<xs:attribute name="typeCode" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="SUBJ"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="birthTime">
		<xs:complexType>
			<xs:attribute name="value" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:enumeration value="20090101"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="component">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="substanceAdministration"/>
				<xs:element ref="adverseEventAssessment"/>
				<xs:element ref="causalityAssessment"/>
				<xs:element ref="observationEvent"/>
				<xs:element ref="observation"/>
			</xs:choice>
			<xs:attribute name="typeCode" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="COMP"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="numerator">
		<xs:complexType>
			<xs:attribute name="value" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="unit" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="B.4.k.2.3.r.4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="organizer">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="code"/>
				<xs:element ref="component" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="classCode" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="CATEGORY"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="moodCode" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="EVN"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="performer">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="assignedEntity"/>
			</xs:sequence>
			<xs:attribute name="typeCode">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="PRF"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="reference">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="document"/>
			</xs:sequence>
			<xs:attribute name="typeCode" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="REFR"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="routeCode">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="originalText"/>
			</xs:sequence>
			<xs:attribute name="code" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="B.4.k.4.r.12.2a"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="codeSystem" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="2.16.840.1.113883.3.989.2.1.1.14"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="codeSystemVersion" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="B.4.k.4.r.12.2b"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="subjectOf">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="productEvent"/>
				<xs:element ref="approval"/>
			</xs:choice>
			<xs:attribute name="typeCode" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="SBJ"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="territory">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="code"/>
			</xs:sequence>
			<xs:attribute name="classCode" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="NAT"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="determinerCode" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="INSTANCE"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="component1">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="observationEvent"/>
			</xs:sequence>
			<xs:attribute name="typeCode" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="COMP"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="consumable">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="instanceOfKind"/>
			</xs:sequence>
			<xs:attribute name="typeCode">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="CSM"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="ingredient">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="quantity"/>
				<xs:element ref="ingredientSubstance"/>
			</xs:sequence>
			<xs:attribute name="classCode" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="ACTI"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="methodCode">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="originalText"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="postalCode">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="A.2.r.1.2f"/>
				<xs:enumeration value="A.3.4d"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="statusCode">
		<xs:complexType>
			<xs:attribute name="code" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="active"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="subjectOf1">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="controlActEvent"/>
				<xs:element ref="researchStudy"/>
			</xs:choice>
			<xs:attribute name="typeCode" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="SBJ"/>
						<xs:enumeration value="SUBJ"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="subjectOf2">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="investigationCharacteristic"/>
				<xs:element ref="controlActEvent"/>
				<xs:element ref="observation"/>
				<xs:element ref="organizer"/>
			</xs:choice>
			<xs:attribute name="typeCode" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="SBJ"/>
						<xs:enumeration value="SUBJ"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="denominator">
		<xs:complexType>
			<xs:attribute name="value" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="observation">
		<xs:complexType>
			<xs:choice>
				<xs:sequence>
					<xs:element ref="id"/>
					<xs:element ref="code"/>
					<xs:element ref="effectiveTime"/>
					<xs:element ref="value"/>
					<xs:element ref="location"/>
					<xs:element ref="outboundRelationship2" maxOccurs="unbounded"/>
				</xs:sequence>
				<xs:sequence>
					<xs:element ref="code"/>
					<xs:choice>
						<xs:sequence>
							<xs:element ref="value"/>
							<xs:choice minOccurs="0">
								<xs:sequence>
									<xs:element ref="performer" minOccurs="0"/>
									<xs:element ref="outboundRelationship1"/>
								</xs:sequence>
								<xs:element ref="outboundRelationship2" maxOccurs="unbounded"/>
							</xs:choice>
						</xs:sequence>
						<xs:sequence>
							<xs:element ref="effectiveTime"/>
							<xs:choice>
								<xs:sequence>
									<xs:element ref="value"/>
									<xs:sequence minOccurs="0">
										<xs:element ref="interpretationCode"/>
										<xs:element ref="referenceRange" maxOccurs="unbounded"/>
										<xs:element ref="outboundRelationship2" maxOccurs="unbounded"/>
									</xs:sequence>
								</xs:sequence>
								<xs:sequence>
									<xs:element ref="outboundRelationship2" maxOccurs="unbounded"/>
									<xs:element ref="inboundRelationship"/>
								</xs:sequence>
							</xs:choice>
						</xs:sequence>
					</xs:choice>
				</xs:sequence>
			</xs:choice>
			<xs:attribute name="classCode" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="OBS"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="moodCode" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="EVN"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="primaryRole">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="player1"/>
				<xs:element ref="subjectOf1"/>
				<xs:element ref="subjectOf2" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="classCode" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="INVSBJ"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="actReference">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="id"/>
			</xs:sequence>
			<xs:attribute name="classCode" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="ACT"/>
						<xs:enumeration value="OBS"/>
						<xs:enumeration value="SBADM"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="moodCode" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="EVN"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="deceasedTime">
		<xs:complexType>
			<xs:attribute name="value" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:enumeration value="20090101"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="doseQuantity">
		<xs:complexType>
			<xs:attribute name="value" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="unit" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="B.4.k.4.r.2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="locatedPlace">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="code"/>
			</xs:sequence>
			<xs:attribute name="classCode" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="COUNTRY"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="determinerCode" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="INSTANCE"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="originalText">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_originalText">
					<xs:attribute name="language">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="B.2.i.0.a2"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="productEvent">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="code"/>
				<xs:element ref="performer"/>
			</xs:sequence>
			<xs:attribute name="classCode" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="ACT"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="moodCode" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="EVN"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="authorization">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="studyRegistration"/>
			</xs:sequence>
			<xs:attribute name="typeCode" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="AUTH"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="effectiveTime" type="T_comp"/>
	<xs:element name="kindOfProduct">
		<xs:complexType>
			<xs:choice>
				<xs:sequence>
					<xs:element ref="code"/>
					<xs:element ref="name"/>
					<xs:sequence minOccurs="0">
						<xs:element ref="asManufacturedProduct"/>
						<xs:element ref="ingredient" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:sequence>
				<xs:element ref="formCode"/>
			</xs:choice>
			<xs:attribute name="classCode" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="MMAT"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="determinerCode" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="KIND"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="locatedEntity">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="locatedPlace"/>
			</xs:sequence>
			<xs:attribute name="classCode" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="LOCE"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="lotNumberText">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="B.4.k.4.r.9"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="pauseQuantity">
		<xs:complexType>
			<xs:attribute name="value" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="unit" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="B.4.k.9.i.3.1b"/>
						<xs:enumeration value="B.4.k.9.i.3.2b"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="researchStudy">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="id"/>
				<xs:element ref="code"/>
				<xs:element ref="title"/>
				<xs:element ref="authorization" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="classCode" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="CLNTRL"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="moodCode" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="EVN"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="assignedEntity">
		<xs:complexType>
			<xs:choice>
				<xs:sequence>
					<xs:element ref="code"/>
					<xs:sequence minOccurs="0">
						<xs:element ref="addr"/>
						<xs:element ref="telecom" maxOccurs="unbounded"/>
						<xs:element ref="assignedPerson"/>
						<xs:element ref="representedOrganization"/>
					</xs:sequence>
				</xs:sequence>
				<xs:sequence>
					<xs:sequence minOccurs="0">
						<xs:element ref="addr"/>
						<xs:element ref="telecom"/>
						<xs:element ref="assignedPerson"/>
					</xs:sequence>
					<xs:element ref="representedOrganization"/>
				</xs:sequence>
			</xs:choice>
			<xs:attribute name="classCode" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="ASSIGNED"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="assignedPerson">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="name"/>
				<xs:element ref="asQualifiedEntity" minOccurs="0"/>
				<xs:element ref="asLocatedEntity"/>
			</xs:sequence>
			<xs:attribute name="classCode" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="PSN"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="determinerCode" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="INSTANCE"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="governingPlace">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="code"/>
			</xs:sequence>
			<xs:attribute name="classCode" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="COUNTRY"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="determinerCode" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="INSTANCE"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="instanceOfKind">
		<xs:complexType>
			<xs:choice>
				<xs:sequence>
					<xs:element ref="kindOfProduct"/>
					<xs:element ref="subjectOf" minOccurs="0"/>
				</xs:sequence>
				<xs:sequence>
					<xs:element ref="productInstanceInstance"/>
					<xs:element ref="kindOfProduct"/>
				</xs:sequence>
			</xs:choice>
			<xs:attribute name="classCode" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="INST"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="priorityNumber">
		<xs:complexType>
			<xs:attribute name="value" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="referenceRange">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="observationRange"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="asLocatedEntity">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="location"/>
			</xs:sequence>
			<xs:attribute name="classCode" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="LOCE"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="controlActEvent">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="author"/>
				<xs:element ref="id"/>
			</xs:choice>
			<xs:attribute name="classCode" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="CACT"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="moodCode" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="EVN"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="associatedPerson">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="name"/>
				<xs:element ref="administrativeGenderCode"/>
				<xs:element ref="birthTime"/>
			</xs:sequence>
			<xs:attribute name="classCode" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="PSN"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="determinerCode" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="INSTANCE"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="availabilityTime">
		<xs:complexType>
			<xs:attribute name="value" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:enumeration value="20090101"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="observationEvent">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="code"/>
				<xs:element ref="value"/>
				<xs:element ref="author" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="classCode" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="OBS"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="moodCode" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="EVN"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="observationRange">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="value"/>
				<xs:element ref="interpretationCode"/>
			</xs:sequence>
			<xs:attribute name="classCode" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="OBS"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="moodCode" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="EVN.CRT"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="asQualifiedEntity">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="code"/>
			</xs:sequence>
			<xs:attribute name="classCode" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="QUAL"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="controlActProcess">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="code"/>
				<xs:element ref="effectiveTime"/>
				<xs:element ref="subject"/>
			</xs:sequence>
			<xs:attribute name="classCode" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="CACT"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="moodCode" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="EVN"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="streetAddressLine">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="A.2.r.1.2c"/>
				<xs:enumeration value="A.3.4a"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="studyRegistration">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="id"/>
				<xs:element ref="author"/>
			</xs:sequence>
			<xs:attribute name="classCode" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="ACT"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="moodCode" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="EVN"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="asIdentifiedEntity">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="id"/>
				<xs:element ref="code"/>
			</xs:sequence>
			<xs:attribute name="classCode" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="IDENT"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="interpretationCode">
		<xs:complexType>
			<xs:attribute name="code" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="B.3.r.d1"/>
						<xs:enumeration value="H"/>
						<xs:enumeration value="L"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="codeSystem" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="2.16.840.1.113883.3.989.2.1.1.12"/>
						<xs:enumeration value="2.16.840.1.113883.5.83"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="investigationEvent">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="id" maxOccurs="unbounded"/>
				<xs:element ref="code"/>
				<xs:element ref="text"/>
				<xs:element ref="statusCode"/>
				<xs:element ref="effectiveTime"/>
				<xs:element ref="availabilityTime"/>
				<xs:element ref="reference" maxOccurs="unbounded"/>
				<xs:element ref="component" maxOccurs="unbounded"/>
				<xs:element ref="outboundRelationship" maxOccurs="unbounded"/>
				<xs:element ref="subjectOf1" maxOccurs="unbounded"/>
				<xs:element ref="subjectOf2" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="classCode" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="INVSTG"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="moodCode" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="EVN"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="causalityAssessment">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="code"/>
				<xs:element ref="value"/>
				<xs:sequence minOccurs="0">
					<xs:element ref="methodCode"/>
					<xs:element ref="author"/>
					<xs:element ref="subject1"/>
				</xs:sequence>
				<xs:element ref="subject2"/>
			</xs:sequence>
			<xs:attribute name="classCode" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="OBS"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="moodCode" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="EVN"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="inboundRelationship">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="observation"/>
				<xs:element ref="act"/>
			</xs:choice>
			<xs:attribute name="typeCode" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="CAUS"/>
						<xs:enumeration value="REFR"/>
						<xs:enumeration value="RSON"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="ingredientSubstance">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="code"/>
				<xs:element ref="name"/>
			</xs:sequence>
			<xs:attribute name="classCode" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="MMAT"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="determinerCode" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="KIND"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="playingOrganization">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="name"/>
			</xs:sequence>
			<xs:attribute name="classCode" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="ORG"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="determinerCode" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="INSTANCE"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="productUseReference">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="id"/>
			</xs:sequence>
			<xs:attribute name="classCode" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="ACT"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="moodCode" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="EVN"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="outboundRelationship">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="priorityNumber" minOccurs="0"/>
				<xs:element ref="relatedInvestigation"/>
			</xs:sequence>
			<xs:attribute name="typeCode" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="SPRT"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="relatedInvestigation">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="code"/>
				<xs:element ref="subjectOf2"/>
			</xs:sequence>
			<xs:attribute name="classCode" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="INVSTG"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="moodCode" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="EVN"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="territorialAuthority">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="governingPlace"/>
				<xs:element ref="territory"/>
			</xs:choice>
			<xs:attribute name="classCode" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="TERR"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="asManufacturedProduct">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="subjectOf"/>
			</xs:sequence>
			<xs:attribute name="classCode" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="MANU"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="outboundRelationship1">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="pauseQuantity" minOccurs="0"/>
				<xs:element ref="actReference"/>
			</xs:sequence>
			<xs:attribute name="typeCode" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="REFR"/>
						<xs:enumeration value="SAE"/>
						<xs:enumeration value="SAS"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="outboundRelationship2">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="substanceAdministration"/>
				<xs:element ref="observation"/>
			</xs:choice>
			<xs:attribute name="typeCode" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="CAUS"/>
						<xs:enumeration value="COMP"/>
						<xs:enumeration value="DRIV"/>
						<xs:enumeration value="EXPL"/>
						<xs:enumeration value="PERT"/>
						<xs:enumeration value="REFR"/>
						<xs:enumeration value="RSON"/>
						<xs:enumeration value="SUMM"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="adverseEffectReference">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="id"/>
			</xs:sequence>
			<xs:attribute name="classCode" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="ACT"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="moodCode" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="EVN"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="adverseEventAssessment">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="subject1"/>
				<xs:element ref="component" maxOccurs="unbounded"/>
				<xs:element ref="component1" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="classCode" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="INVSTG"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="moodCode" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="EVN"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="productInstanceInstance">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="id"/>
				<xs:element ref="lotNumberText"/>
			</xs:sequence>
			<xs:attribute name="classCode" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="MMAT"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="determinerCode" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="INSTANCE"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="representedOrganization">
		<xs:complexType>
			<xs:choice>
				<xs:sequence>
					<xs:element ref="name"/>
					<xs:element ref="assignedEntity" minOccurs="0"/>
				</xs:sequence>
				<xs:element ref="addr"/>
			</xs:choice>
			<xs:attribute name="classCode" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="ORG"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="determinerCode" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="INSTANCE"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="substanceAdministration">
		<xs:complexType>
			<xs:choice>
				<xs:sequence>
					<xs:element ref="id"/>
					<xs:choice>
						<xs:sequence>
							<xs:element ref="text"/>
							<xs:element ref="effectiveTime"/>
							<xs:element ref="routeCode"/>
							<xs:element ref="doseQuantity"/>
							<xs:element ref="consumable"/>
						</xs:sequence>
						<xs:sequence>
							<xs:element ref="consumable"/>
							<xs:element ref="outboundRelationship1" maxOccurs="unbounded"/>
							<xs:element ref="outboundRelationship2" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:choice>
					<xs:element ref="inboundRelationship" maxOccurs="unbounded"/>
				</xs:sequence>
				<xs:sequence>
					<xs:element ref="effectiveTime"/>
					<xs:element ref="consumable"/>
					<xs:element ref="outboundRelationship2" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:choice>
			<xs:attribute name="classCode" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="SBADM"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="moodCode" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="EVN"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="administrativeGenderCode">
		<xs:complexType>
			<xs:attribute name="code" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="B.1.10.6"/>
						<xs:enumeration value="B.1.5"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="codeSystem" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="1.0.5218"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="investigationCharacteristic">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="code"/>
				<xs:element ref="value"/>
			</xs:sequence>
			<xs:attribute name="classCode" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="OBS"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="moodCode" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="EVN"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="bibliographicDesignationText">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="A.4.r.1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:complexType name="BL">
		<xs:complexContent>
			<xs:extension base="T_value">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CE">
		<xs:complexContent>
			<xs:extension base="T_value">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ED">
		<xs:complexContent>
			<xs:extension base="T_value">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PQ">
		<xs:complexContent>
			<xs:extension base="T_value">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ST">
		<xs:complexContent>
			<xs:extension base="T_value">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TS">
		<xs:complexContent>
			<xs:extension base="T_value">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="IVL_PQ">
		<xs:complexContent>
			<xs:extension base="T_value">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="IVL_TS">
		<xs:complexContent>
			<xs:extension base="T_comp">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="T_comp">
		<xs:choice minOccurs="0">
			<xs:sequence>
				<xs:element ref="low"/>
				<xs:choice minOccurs="0">
					<xs:element ref="width"/>
					<xs:element ref="high"/>
				</xs:choice>
			</xs:sequence>
			<xs:element ref="period"/>
			<xs:element ref="comp" maxOccurs="unbounded"/>
		</xs:choice>
		<xs:attribute name="operator">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="A"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="value">
			<xs:simpleType>
				<xs:restriction base="xs:long">
					<xs:enumeration value="20090101"/>
					<xs:enumeration value="20101214151617"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="PIVL_TS">
		<xs:complexContent>
			<xs:extension base="T_comp">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SXCM_TS">
		<xs:complexContent>
			<xs:extension base="T_comp">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SXPR_TS">
		<xs:complexContent>
			<xs:extension base="T_comp">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="T_value" mixed="true">
		<xs:choice minOccurs="0">
			<xs:sequence>
				<xs:element ref="low"/>
				<xs:element ref="high"/>
			</xs:sequence>
			<xs:element ref="originalText"/>
			<xs:element ref="center"/>
		</xs:choice>
		<xs:attribute name="value">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="10"/>
					<xs:enumeration value="110"/>
					<xs:enumeration value="152"/>
					<xs:enumeration value="160"/>
					<xs:enumeration value="20090101"/>
					<xs:enumeration value="40"/>
					<xs:enumeration value="48.2"/>
					<xs:enumeration value="50"/>
					<xs:enumeration value="true"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="unit">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="B.1.10.2.2b"/>
					<xs:enumeration value="B.1.2.2.1b"/>
					<xs:enumeration value="B.1.2.2b"/>
					<xs:enumeration value="B.4.k.5.2"/>
					<xs:enumeration value="B.4.k.6b"/>
					<xs:enumeration value="cm"/>
					<xs:enumeration value="kg"/>
					<xs:enumeration value="mg/dl"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="code">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="A.1.13"/>
					<xs:enumeration value="A.1.4"/>
					<xs:enumeration value="B.1.10.8.r.f.2"/>
					<xs:enumeration value="B.1.10.8.r.g.2"/>
					<xs:enumeration value="B.1.2.3"/>
					<xs:enumeration value="B.1.8.r.f.2"/>
					<xs:enumeration value="B.1.8.r.g.2"/>
					<xs:enumeration value="B.1.9.2.r.b1"/>
					<xs:enumeration value="B.1.9.4.r.b1"/>
					<xs:enumeration value="B.2.i.1.b"/>
					<xs:enumeration value="B.2.i.2.1"/>
					<xs:enumeration value="B.2.i.6"/>
					<xs:enumeration value="B.4.k.1"/>
					<xs:enumeration value="B.4.k.10.r"/>
					<xs:enumeration value="B.4.k.4.r.13.2a"/>
					<xs:enumeration value="B.4.k.7.r.2b"/>
					<xs:enumeration value="B.4.k.9.i.4"/>
					<xs:enumeration value="B.5.3.r.2"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="codeSystem">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="2.16.840.1.113883.3.989.2.1.1.10"/>
					<xs:enumeration value="2.16.840.1.113883.3.989.2.1.1.11"/>
					<xs:enumeration value="2.16.840.1.113883.3.989.2.1.1.13"/>
					<xs:enumeration value="2.16.840.1.113883.3.989.2.1.1.14"/>
					<xs:enumeration value="2.16.840.1.113883.3.989.2.1.1.16"/>
					<xs:enumeration value="2.16.840.1.113883.3.989.2.1.1.17"/>
					<xs:enumeration value="2.16.840.1.113883.3.989.2.1.1.2"/>
					<xs:enumeration value="2.16.840.1.113883.3.989.2.1.1.5"/>
					<xs:enumeration value="2.16.840.1.113883.3.989.2.1.1.9"/>
					<xs:enumeration value="2.16.840.1.113883.6.163"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="codeSystemVersion">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="B.1.10.8.r.f.1"/>
					<xs:enumeration value="B.1.10.8.r.g.1"/>
					<xs:enumeration value="B.1.8.r.f.1"/>
					<xs:enumeration value="B.1.8.r.g.1"/>
					<xs:enumeration value="B.1.9.2.r.a"/>
					<xs:enumeration value="B.1.9.4.r.a"/>
					<xs:enumeration value="B.2.i.1.a"/>
					<xs:enumeration value="B.4.k.4.r.13.2b"/>
					<xs:enumeration value="B.4.k.7.r.2a"/>
					<xs:enumeration value="B.5.3.r.1"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="NI"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="language">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="B.5.5.r.2"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:simpleType name="ST_text">
		<xs:restriction base="xs:string">
			<xs:enumeration value="A.1.8.1.r.2"/>
			<xs:enumeration value="A.4.r.2"/>
			<xs:enumeration value="B.4.k.4.r.10"/>
			<xs:enumeration value="B.5.1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ST_originalText">
		<xs:restriction base="xs:string">
			<xs:enumeration value="A.1.13.1"/>
			<xs:enumeration value="B.1.9.2.r.b2"/>
			<xs:enumeration value="B.1.9.4.r.b2"/>
			<xs:enumeration value="B.2.i.0.a1"/>
			<xs:enumeration value="B.3.r.c1"/>
			<xs:enumeration value="B.4.k.4.r.11.1"/>
			<xs:enumeration value="B.4.k.4.r.12.1"/>
			<xs:enumeration value="B.4.k.4.r.13.1"/>
			<xs:enumeration value="B.4.k.7.r.1"/>
			<xs:enumeration value="B.4.k.9.i.2.r.1"/>
			<xs:enumeration value="B.4.k.9.i.2.r.2"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
