docs/yakaza/r2/ich-icsr-v2_1_dtd/r2.comp.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--W3C Schema generated by XMLSpy v2016 (x64) (http://www.altova.com)-->
<xs:schema  
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns="http://org.moten.david/example2" xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:i="http://moten.david.org/xsd-forms"
  targetNamespace=" http://org.moten.david/example2"  
  elementFormDefault="qualified">
	<xs:complexType name="ichicsr">
		<xs:sequence>
			<xs:element ref="ichicsrmessageheader"/>
			<xs:element ref="safetyreport" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="lang" use="required"/>
	</xs:complexType>
	<xs:element name="ichicsr" type="ichicsr"/>
	<xs:complexType name="ichicsrmessageheader">
		<xs:sequence>
			<xs:element ref="messagetype"/>
			<xs:element ref="messageformatversion"/>
			<xs:element ref="messageformatrelease"/>
			<xs:element ref="messagenumb"/>
			<xs:element ref="messagesenderidentifier"/>
			<xs:element ref="messagereceiveridentifier"/>
			<xs:element ref="messagedateformat"/>
			<xs:element ref="messagedate"/>
		</xs:sequence>
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="ichicsrmessageheader" type="ichicsrmessageheader"/>
	<xs:complexType name="messagetype" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="messagetype" type="messagetype"/>
	<xs:complexType name="messageformatversion" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="messageformatversion" type="messageformatversion"/>
	<xs:complexType name="messageformatrelease" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="messageformatrelease" type="messageformatrelease"/>
	<xs:complexType name="messagenumb" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="messagenumb" type="messagenumb"/>
	<xs:complexType name="messagesenderidentifier" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="messagesenderidentifier" type="messagesenderidentifier"/>
	<xs:complexType name="messagereceiveridentifier" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="messagereceiveridentifier" type="messagereceiveridentifier"/>
	<xs:complexType name="messagedateformat" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="messagedateformat" type="messagedateformat"/>
	<xs:complexType name="messagedate" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="messagedate" type="messagedate"/>
	<xs:complexType name="safetyreport">
		<xs:sequence>
			<xs:element ref="safetyreportversion" minOccurs="0"/>
			<xs:element ref="safetyreportid"/>
			<xs:element ref="primarysourcecountry" minOccurs="0"/>
			<xs:element ref="occurcountry" minOccurs="0"/>
			<xs:element ref="transmissiondateformat" minOccurs="0"/>
			<xs:element ref="transmissiondate" minOccurs="0"/>
			<xs:element ref="reporttype" minOccurs="0"/>
			<xs:element ref="serious" minOccurs="0"/>
			<xs:element ref="seriousnessdeath" minOccurs="0"/>
			<xs:element ref="seriousnesslifethreatening" minOccurs="0"/>
			<xs:element ref="seriousnesshospitalization" minOccurs="0"/>
			<xs:element ref="seriousnessdisabling" minOccurs="0"/>
			<xs:element ref="seriousnesscongenitalanomali" minOccurs="0"/>
			<xs:element ref="seriousnessother" minOccurs="0"/>
			<xs:element ref="receivedateformat" minOccurs="0"/>
			<xs:element ref="receivedate" minOccurs="0"/>
			<xs:element ref="receiptdateformat"/>
			<xs:element ref="receiptdate"/>
			<xs:element ref="additionaldocument" minOccurs="0"/>
			<xs:element ref="documentlist" minOccurs="0"/>
			<xs:element ref="fulfillexpeditecriteria" minOccurs="0"/>
			<xs:element ref="authoritynumb" minOccurs="0"/>
			<xs:element ref="companynumb" minOccurs="0"/>
			<xs:element ref="duplicate" minOccurs="0"/>
			<xs:element ref="casenullification" minOccurs="0"/>
			<xs:element ref="nullificationreason" minOccurs="0"/>
			<xs:element ref="medicallyconfirm" minOccurs="0"/>
			<xs:sequence>
				<xs:element ref="reportduplicate" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="linkedreport" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="primarysource" maxOccurs="unbounded"/>
				<xs:element ref="sender"/>
				<xs:element ref="receiver"/>
				<xs:element ref="patient"/>
			</xs:sequence>
		</xs:sequence>
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="safetyreport" type="safetyreport"/>
	<xs:complexType name="reportduplicate">
		<xs:sequence>
			<xs:element ref="duplicatesource" minOccurs="0"/>
			<xs:element ref="duplicatenumb" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="reportduplicate" type="reportduplicate"/>
	<xs:complexType name="linkedreport">
		<xs:sequence>
			<xs:element ref="linkreportnumb" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="linkedreport" type="linkedreport"/>
	<xs:complexType name="primarysource">
		<xs:sequence>
			<xs:element ref="reportertitle" minOccurs="0"/>
			<xs:element ref="reportergivename" minOccurs="0"/>
			<xs:element ref="reportermiddlename" minOccurs="0"/>
			<xs:element ref="reporterfamilyname" minOccurs="0"/>
			<xs:element ref="reporterorganization" minOccurs="0"/>
			<xs:element ref="reporterdepartment" minOccurs="0"/>
			<xs:element ref="reporterstreet" minOccurs="0"/>
			<xs:element ref="reportercity" minOccurs="0"/>
			<xs:element ref="reporterstate" minOccurs="0"/>
			<xs:element ref="reporterpostcode" minOccurs="0"/>
			<xs:element ref="reportercountry" minOccurs="0"/>
			<xs:element ref="qualification" minOccurs="0"/>
			<xs:element ref="literaturereference" minOccurs="0"/>
			<xs:element ref="studyname" minOccurs="0"/>
			<xs:element ref="sponsorstudynumb" minOccurs="0"/>
			<xs:element ref="observestudytype" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="primarysource" type="primarysource"/>
	<xs:complexType name="sender">
		<xs:sequence>
			<xs:element ref="sendertype" minOccurs="0"/>
			<xs:element ref="senderorganization"/>
			<xs:element ref="senderdepartment" minOccurs="0"/>
			<xs:element ref="sendertitle" minOccurs="0"/>
			<xs:element ref="sendergivename" minOccurs="0"/>
			<xs:element ref="sendermiddlename" minOccurs="0"/>
			<xs:element ref="senderfamilyname" minOccurs="0"/>
			<xs:element ref="senderstreetaddress" minOccurs="0"/>
			<xs:element ref="sendercity" minOccurs="0"/>
			<xs:element ref="senderstate" minOccurs="0"/>
			<xs:element ref="senderpostcode" minOccurs="0"/>
			<xs:element ref="sendercountrycode" minOccurs="0"/>
			<xs:element ref="sendertel" minOccurs="0"/>
			<xs:element ref="sendertelextension" minOccurs="0"/>
			<xs:element ref="sendertelcountrycode" minOccurs="0"/>
			<xs:element ref="senderfax" minOccurs="0"/>
			<xs:element ref="senderfaxextension" minOccurs="0"/>
			<xs:element ref="senderfaxcountrycode" minOccurs="0"/>
			<xs:element ref="senderemailaddress" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="sender" type="sender"/>
	<xs:complexType name="receiver">
		<xs:sequence>
			<xs:element ref="receivertype" minOccurs="0"/>
			<xs:element ref="receiverorganization" minOccurs="0"/>
			<xs:element ref="receiverdepartment" minOccurs="0"/>
			<xs:element ref="receivertitle" minOccurs="0"/>
			<xs:element ref="receivergivename" minOccurs="0"/>
			<xs:element ref="receivermiddlename" minOccurs="0"/>
			<xs:element ref="receiverfamilyname" minOccurs="0"/>
			<xs:element ref="receiverstreetaddress" minOccurs="0"/>
			<xs:element ref="receivercity" minOccurs="0"/>
			<xs:element ref="receiverstate" minOccurs="0"/>
			<xs:element ref="receiverpostcode" minOccurs="0"/>
			<xs:element ref="receivercountrycode" minOccurs="0"/>
			<xs:element ref="receivertel" minOccurs="0"/>
			<xs:element ref="receivertelextension" minOccurs="0"/>
			<xs:element ref="receivertelcountrycode" minOccurs="0"/>
			<xs:element ref="receiverfax" minOccurs="0"/>
			<xs:element ref="receiverfaxextension" minOccurs="0"/>
			<xs:element ref="receiverfaxcountrycode" minOccurs="0"/>
			<xs:element ref="receiveremailaddress" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="receiver" type="receiver"/>
	<xs:complexType name="patient">
		<xs:sequence>
			<xs:element ref="patientinitial" minOccurs="0"/>
			<xs:element ref="patientgpmedicalrecordnumb" minOccurs="0"/>
			<xs:element ref="patientspecialistrecordnumb" minOccurs="0"/>
			<xs:element ref="patienthospitalrecordnumb" minOccurs="0"/>
			<xs:element ref="patientinvestigationnumb" minOccurs="0"/>
			<xs:element ref="patientbirthdateformat" minOccurs="0"/>
			<xs:element ref="patientbirthdate" minOccurs="0"/>
			<xs:element ref="patientonsetage" minOccurs="0"/>
			<xs:element ref="patientonsetageunit" minOccurs="0"/>
			<xs:element ref="gestationperiod" minOccurs="0"/>
			<xs:element ref="gestationperiodunit" minOccurs="0"/>
			<xs:element ref="patientagegroup" minOccurs="0"/>
			<xs:element ref="patientweight" minOccurs="0"/>
			<xs:element ref="patientheight" minOccurs="0"/>
			<xs:element ref="patientsex" minOccurs="0"/>
			<xs:element ref="lastmenstrualdateformat" minOccurs="0"/>
			<xs:element ref="patientlastmenstrualdate" minOccurs="0"/>
			<xs:element ref="patientmedicalhistorytext" minOccurs="0"/>
			<xs:element ref="resultstestsprocedures" minOccurs="0"/>
			<xs:sequence>
				<xs:element ref="medicalhistoryepisode" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="patientpastdrugtherapy" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="patientdeath" minOccurs="0"/>
				<xs:element ref="parent" minOccurs="0"/>
				<xs:element ref="reaction" maxOccurs="unbounded"/>
				<xs:element ref="test" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="drug" maxOccurs="unbounded"/>
				<xs:element ref="summary" minOccurs="0"/>
			</xs:sequence>
		</xs:sequence>
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="patient" type="patient"/>
	<xs:complexType name="medicalhistoryepisode">
		<xs:sequence>
			<xs:element ref="patientepisodenamemeddraversion" minOccurs="0"/>
			<xs:element ref="patientepisodename" minOccurs="0"/>
			<xs:element ref="patientmedicalstartdateformat" minOccurs="0"/>
			<xs:element ref="patientmedicalstartdate" minOccurs="0"/>
			<xs:element ref="patientmedicalcontinue" minOccurs="0"/>
			<xs:element ref="patientmedicalenddateformat" minOccurs="0"/>
			<xs:element ref="patientmedicalenddate" minOccurs="0"/>
			<xs:element ref="patientmedicalcomment" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="medicalhistoryepisode" type="medicalhistoryepisode"/>
	<xs:complexType name="patientpastdrugtherapy">
		<xs:sequence>
			<xs:element ref="patientdrugname" minOccurs="0"/>
			<xs:element ref="patientdrugstartdateformat" minOccurs="0"/>
			<xs:element ref="patientdrugstartdate" minOccurs="0"/>
			<xs:element ref="patientdrugenddateformat" minOccurs="0"/>
			<xs:element ref="patientdrugenddate" minOccurs="0"/>
			<xs:element ref="patientindicationmeddraversion" minOccurs="0"/>
			<xs:element ref="patientdrugindication" minOccurs="0"/>
			<xs:element ref="patientdrgreactionmeddraversion" minOccurs="0"/>
			<xs:element ref="patientdrugreaction" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="patientpastdrugtherapy" type="patientpastdrugtherapy"/>
	<xs:complexType name="patientdeath">
		<xs:sequence>
			<xs:element ref="patientdeathdateformat" minOccurs="0"/>
			<xs:element ref="patientdeathdate" minOccurs="0"/>
			<xs:element ref="patientautopsyyesno" minOccurs="0"/>
			<xs:sequence>
				<xs:element ref="patientdeathcause" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="patientautopsy" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:sequence>
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="patientdeath" type="patientdeath"/>
	<xs:complexType name="patientdeathcause">
		<xs:sequence>
			<xs:element ref="patientdeathreportmeddraversion" minOccurs="0"/>
			<xs:element ref="patientdeathreport" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="patientdeathcause" type="patientdeathcause"/>
	<xs:complexType name="patientautopsy">
		<xs:sequence>
			<xs:element ref="patientdetermautopsmeddraversion" minOccurs="0"/>
			<xs:element ref="patientdetermineautopsy" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="patientautopsy" type="patientautopsy"/>
	<xs:complexType name="parent">
		<xs:sequence>
			<xs:element ref="parentidentification" minOccurs="0"/>
			<xs:element ref="parentbirthdateformat" minOccurs="0"/>
			<xs:element ref="parentbirthdate" minOccurs="0"/>
			<xs:element ref="parentage" minOccurs="0"/>
			<xs:element ref="parentageunit" minOccurs="0"/>
			<xs:element ref="parentlastmenstrualdateformat" minOccurs="0"/>
			<xs:element ref="parentlastmenstrualdate" minOccurs="0"/>
			<xs:element ref="parentweight" minOccurs="0"/>
			<xs:element ref="parentheight" minOccurs="0"/>
			<xs:element ref="parentsex" minOccurs="0"/>
			<xs:element ref="parentmedicalrelevanttext" minOccurs="0"/>
			<xs:sequence>
				<xs:element ref="parentmedicalhistoryepisode" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="parentpastdrugtherapy" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:sequence>
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="parent" type="parent"/>
	<xs:complexType name="parentmedicalhistoryepisode">
		<xs:sequence>
			<xs:element ref="parentmdepisodemeddraversion" minOccurs="0"/>
			<xs:element ref="parentmedicalepisodename" minOccurs="0"/>
			<xs:element ref="parentmedicalstartdateformat" minOccurs="0"/>
			<xs:element ref="parentmedicalstartdate" minOccurs="0"/>
			<xs:element ref="parentmedicalcontinue" minOccurs="0"/>
			<xs:element ref="parentmedicalenddateformat" minOccurs="0"/>
			<xs:element ref="parentmedicalenddate" minOccurs="0"/>
			<xs:element ref="parentmedicalcomment" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="parentmedicalhistoryepisode" type="parentmedicalhistoryepisode"/>
	<xs:complexType name="parentpastdrugtherapy">
		<xs:sequence>
			<xs:element ref="parentdrugname" minOccurs="0"/>
			<xs:element ref="parentdrugstartdateformat" minOccurs="0"/>
			<xs:element ref="parentdrugstartdate" minOccurs="0"/>
			<xs:element ref="parentdrugenddateformat" minOccurs="0"/>
			<xs:element ref="parentdrugenddate" minOccurs="0"/>
			<xs:element ref="parentdrgindicationmeddraversion" minOccurs="0"/>
			<xs:element ref="parentdrugindication" minOccurs="0"/>
			<xs:element ref="parentdrgreactionmeddraversion" minOccurs="0"/>
			<xs:element ref="parentdrugreaction" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="parentpastdrugtherapy" type="parentpastdrugtherapy"/>
	<xs:complexType name="reaction">
		<xs:sequence>
			<xs:element ref="primarysourcereaction" minOccurs="0"/>
			<xs:element ref="reactionmeddraversionllt" minOccurs="0"/>
			<xs:element ref="reactionmeddrallt" minOccurs="0"/>
			<xs:element ref="reactionmeddraversionpt" minOccurs="0"/>
			<xs:element ref="reactionmeddrapt" minOccurs="0"/>
			<xs:element ref="termhighlighted" minOccurs="0"/>
			<xs:element ref="reactionstartdateformat" minOccurs="0"/>
			<xs:element ref="reactionstartdate" minOccurs="0"/>
			<xs:element ref="reactionenddateformat" minOccurs="0"/>
			<xs:element ref="reactionenddate" minOccurs="0"/>
			<xs:element ref="reactionduration" minOccurs="0"/>
			<xs:element ref="reactiondurationunit" minOccurs="0"/>
			<xs:element ref="reactionfirsttime" minOccurs="0"/>
			<xs:element ref="reactionfirsttimeunit" minOccurs="0"/>
			<xs:element ref="reactionlasttime" minOccurs="0"/>
			<xs:element ref="reactionlasttimeunit" minOccurs="0"/>
			<xs:element ref="reactionoutcome" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="reaction" type="reaction"/>
	<xs:complexType name="test">
		<xs:sequence>
			<xs:element ref="testdateformat" minOccurs="0"/>
			<xs:element ref="testdate" minOccurs="0"/>
			<xs:element ref="testname" minOccurs="0"/>
			<xs:element ref="testresult" minOccurs="0"/>
			<xs:element ref="testunit" minOccurs="0"/>
			<xs:element ref="lowtestrange" minOccurs="0"/>
			<xs:element ref="hightestrange" minOccurs="0"/>
			<xs:element ref="moreinformation" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="test" type="test"/>
	<xs:complexType name="drug">
		<xs:sequence>
			<xs:element ref="drugcharacterization" minOccurs="0"/>
			<xs:element ref="medicinalproduct" minOccurs="0"/>
			<xs:element ref="obtaindrugcountry" minOccurs="0"/>
			<xs:element ref="drugbatchnumb" minOccurs="0"/>
			<xs:element ref="drugauthorizationnumb" minOccurs="0"/>
			<xs:element ref="drugauthorizationcountry" minOccurs="0"/>
			<xs:element ref="drugauthorizationholder" minOccurs="0"/>
			<xs:element ref="drugstructuredosagenumb" minOccurs="0"/>
			<xs:element ref="drugstructuredosageunit" minOccurs="0"/>
			<xs:element ref="drugseparatedosagenumb" minOccurs="0"/>
			<xs:element ref="drugintervaldosageunitnumb" minOccurs="0"/>
			<xs:element ref="drugintervaldosagedefinition" minOccurs="0"/>
			<xs:element ref="drugcumulativedosagenumb" minOccurs="0"/>
			<xs:element ref="drugcumulativedosageunit" minOccurs="0"/>
			<xs:element ref="drugdosagetext" minOccurs="0"/>
			<xs:element ref="drugdosageform" minOccurs="0"/>
			<xs:element ref="drugadministrationroute" minOccurs="0"/>
			<xs:element ref="drugparadministration" minOccurs="0"/>
			<xs:element ref="reactiongestationperiod" minOccurs="0"/>
			<xs:element ref="reactiongestationperiodunit" minOccurs="0"/>
			<xs:element ref="drugindicationmeddraversion" minOccurs="0"/>
			<xs:element ref="drugindication" minOccurs="0"/>
			<xs:element ref="drugstartdateformat" minOccurs="0"/>
			<xs:element ref="drugstartdate" minOccurs="0"/>
			<xs:element ref="drugstartperiod" minOccurs="0"/>
			<xs:element ref="drugstartperiodunit" minOccurs="0"/>
			<xs:element ref="druglastperiod" minOccurs="0"/>
			<xs:element ref="druglastperiodunit" minOccurs="0"/>
			<xs:element ref="drugenddateformat" minOccurs="0"/>
			<xs:element ref="drugenddate" minOccurs="0"/>
			<xs:element ref="drugtreatmentduration" minOccurs="0"/>
			<xs:element ref="drugtreatmentdurationunit" minOccurs="0"/>
			<xs:element ref="actiondrug" minOccurs="0"/>
			<xs:element ref="drugrecurreadministration" minOccurs="0"/>
			<xs:element ref="drugadditional" minOccurs="0"/>
			<xs:sequence>
				<xs:element ref="activesubstance" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="drugrecurrence" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="drugreactionrelatedness" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:sequence>
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="drug" type="drug"/>
	<xs:complexType name="activesubstance">
		<xs:sequence>
			<xs:element ref="activesubstancename"/>
		</xs:sequence>
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="activesubstance" type="activesubstance"/>
	<xs:complexType name="drugrecurrence">
		<xs:sequence>
			<xs:element ref="drugrecuractionmeddraversion" minOccurs="0"/>
			<xs:element ref="drugrecuraction"/>
		</xs:sequence>
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="drugrecurrence" type="drugrecurrence"/>
	<xs:complexType name="drugreactionrelatedness">
		<xs:sequence>
			<xs:element ref="drugreactionassesmeddraversion" minOccurs="0"/>
			<xs:element ref="drugreactionasses" minOccurs="0"/>
			<xs:element ref="drugassessmentsource" minOccurs="0"/>
			<xs:element ref="drugassessmentmethod" minOccurs="0"/>
			<xs:element ref="drugresult" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="drugreactionrelatedness" type="drugreactionrelatedness"/>
	<xs:complexType name="summary">
		<xs:sequence>
			<xs:element ref="narrativeincludeclinical" minOccurs="0"/>
			<xs:element ref="reportercomment" minOccurs="0"/>
			<xs:element ref="senderdiagnosismeddraversion" minOccurs="0"/>
			<xs:element ref="senderdiagnosis" minOccurs="0"/>
			<xs:element ref="sendercomment" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="summary" type="summary"/>
	<xs:complexType name="safetyreportversion" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="safetyreportversion" type="safetyreportversion"/>
	<xs:complexType name="safetyreportid" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="safetyreportid" type="safetyreportid"/>
	<xs:complexType name="primarysourcecountry" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="primarysourcecountry" type="primarysourcecountry"/>
	<xs:complexType name="occurcountry" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="occurcountry" type="occurcountry"/>
	<xs:complexType name="transmissiondateformat" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="transmissiondateformat" type="transmissiondateformat"/>
	<xs:complexType name="transmissiondate" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="transmissiondate" type="transmissiondate"/>
	<xs:complexType name="reporttype" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="reporttype" type="reporttype"/>
	<xs:complexType name="serious" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="serious" type="serious"/>
	<xs:complexType name="seriousnessdeath" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="seriousnessdeath" type="seriousnessdeath"/>
	<xs:complexType name="seriousnessdisabling" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="seriousnessdisabling" type="seriousnessdisabling"/>
	<xs:complexType name="seriousnesscongenitalanomali" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="seriousnesscongenitalanomali" type="seriousnesscongenitalanomali"/>
	<xs:complexType name="seriousnessother" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="seriousnessother" type="seriousnessother"/>
	<xs:complexType name="receivedateformat" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="receivedateformat" type="receivedateformat"/>
	<xs:complexType name="receivedate" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="receivedate" type="receivedate"/>
	<xs:complexType name="receiptdateformat" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="receiptdateformat" type="receiptdateformat"/>
	<xs:complexType name="receiptdate" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="receiptdate" type="receiptdate"/>
	<xs:complexType name="additionaldocument" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="additionaldocument" type="additionaldocument"/>
	<xs:complexType name="documentlist" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="documentlist" type="documentlist"/>
	<xs:complexType name="fulfillexpeditecriteria" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="fulfillexpeditecriteria" type="fulfillexpeditecriteria"/>
	<xs:complexType name="authoritynumb" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="authoritynumb" type="authoritynumb"/>
	<xs:complexType name="companynumb" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="companynumb" type="companynumb"/>
	<xs:complexType name="duplicate" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="duplicate" type="duplicate"/>
	<xs:complexType name="duplicatesource" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="duplicatesource" type="duplicatesource"/>
	<xs:complexType name="duplicatenumb" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="duplicatenumb" type="duplicatenumb"/>
	<xs:complexType name="linkreportnumb" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="linkreportnumb" type="linkreportnumb"/>
	<xs:complexType name="casenullification" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="casenullification" type="casenullification"/>
	<xs:complexType name="nullificationreason" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="nullificationreason" type="nullificationreason"/>
	<xs:complexType name="medicallyconfirm" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="medicallyconfirm" type="medicallyconfirm"/>
	<xs:complexType name="reportertitle" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="reportertitle" type="reportertitle"/>
	<xs:complexType name="reportergivename" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="reportergivename" type="reportergivename"/>
	<xs:complexType name="reportermiddlename" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="reportermiddlename" type="reportermiddlename"/>
	<xs:complexType name="reporterfamilyname" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="reporterfamilyname" type="reporterfamilyname"/>
	<xs:complexType name="reporterorganization" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="reporterorganization" type="reporterorganization"/>
	<xs:complexType name="reporterdepartment" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="reporterdepartment" type="reporterdepartment"/>
	<xs:complexType name="reporterstreet" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="reporterstreet" type="reporterstreet"/>
	<xs:complexType name="reportercity" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="reportercity" type="reportercity"/>
	<xs:complexType name="reporterstate" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="reporterstate" type="reporterstate"/>
	<xs:complexType name="reporterpostcode" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="reporterpostcode" type="reporterpostcode"/>
	<xs:complexType name="reportercountry" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="reportercountry" type="reportercountry"/>
	<xs:complexType name="qualification" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="qualification" type="qualification"/>
	<xs:complexType name="literaturereference" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="literaturereference" type="literaturereference"/>
	<xs:complexType name="studyname" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="studyname" type="studyname"/>
	<xs:complexType name="sponsorstudynumb" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="sponsorstudynumb" type="sponsorstudynumb"/>
	<xs:complexType name="observestudytype" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="observestudytype" type="observestudytype"/>
	<xs:complexType name="sendertype" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="sendertype" type="sendertype"/>
	<xs:complexType name="senderorganization" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="senderorganization" type="senderorganization"/>
	<xs:complexType name="senderdepartment" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="senderdepartment" type="senderdepartment"/>
	<xs:complexType name="sendertitle" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="sendertitle" type="sendertitle"/>
	<xs:complexType name="sendergivename" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="sendergivename" type="sendergivename"/>
	<xs:complexType name="sendermiddlename" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="sendermiddlename" type="sendermiddlename"/>
	<xs:complexType name="senderfamilyname" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="senderfamilyname" type="senderfamilyname"/>
	<xs:complexType name="senderstreetaddress" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="senderstreetaddress" type="senderstreetaddress"/>
	<xs:complexType name="sendercity" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="sendercity" type="sendercity"/>
	<xs:complexType name="senderstate" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="senderstate" type="senderstate"/>
	<xs:complexType name="senderpostcode" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="senderpostcode" type="senderpostcode"/>
	<xs:complexType name="sendercountrycode" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="sendercountrycode" type="sendercountrycode"/>
	<xs:complexType name="sendertel" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="sendertel" type="sendertel"/>
	<xs:complexType name="sendertelextension" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="sendertelextension" type="sendertelextension"/>
	<xs:complexType name="sendertelcountrycode" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="sendertelcountrycode" type="sendertelcountrycode"/>
	<xs:complexType name="senderfax" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="senderfax" type="senderfax"/>
	<xs:complexType name="senderfaxextension" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="senderfaxextension" type="senderfaxextension"/>
	<xs:complexType name="senderfaxcountrycode" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="senderfaxcountrycode" type="senderfaxcountrycode"/>
	<xs:complexType name="senderemailaddress" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="senderemailaddress" type="senderemailaddress"/>
	<xs:complexType name="receivertype" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="receivertype" type="receivertype"/>
	<xs:complexType name="receiverorganization" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="receiverorganization" type="receiverorganization"/>
	<xs:complexType name="receiverdepartment" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="receiverdepartment" type="receiverdepartment"/>
	<xs:complexType name="receivertitle" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="receivertitle" type="receivertitle"/>
	<xs:complexType name="receivergivename" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="receivergivename" type="receivergivename"/>
	<xs:complexType name="receivermiddlename" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="receivermiddlename" type="receivermiddlename"/>
	<xs:complexType name="receiverfamilyname" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="receiverfamilyname" type="receiverfamilyname"/>
	<xs:complexType name="receiverstreetaddress" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="receiverstreetaddress" type="receiverstreetaddress"/>
	<xs:complexType name="receivercity" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="receivercity" type="receivercity"/>
	<xs:complexType name="receiverstate" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="receiverstate" type="receiverstate"/>
	<xs:complexType name="receiverpostcode" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="receiverpostcode" type="receiverpostcode"/>
	<xs:complexType name="receivercountrycode" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="receivercountrycode" type="receivercountrycode"/>
	<xs:complexType name="receivertel" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="receivertel" type="receivertel"/>
	<xs:complexType name="receivertelextension" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="receivertelextension" type="receivertelextension"/>
	<xs:complexType name="receivertelcountrycode" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="receivertelcountrycode" type="receivertelcountrycode"/>
	<xs:complexType name="receiverfax" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="receiverfax" type="receiverfax"/>
	<xs:complexType name="receiverfaxextension" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="receiverfaxextension" type="receiverfaxextension"/>
	<xs:complexType name="receiverfaxcountrycode" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="receiverfaxcountrycode" type="receiverfaxcountrycode"/>
	<xs:complexType name="receiveremailaddress" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="receiveremailaddress" type="receiveremailaddress"/>
	<xs:complexType name="patientinitial" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="patientinitial" type="patientinitial"/>
	<xs:complexType name="patientgpmedicalrecordnumb" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="patientgpmedicalrecordnumb" type="patientgpmedicalrecordnumb"/>
	<xs:complexType name="patientspecialistrecordnumb" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="patientspecialistrecordnumb" type="patientspecialistrecordnumb"/>
	<xs:complexType name="patienthospitalrecordnumb" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="patienthospitalrecordnumb" type="patienthospitalrecordnumb"/>
	<xs:complexType name="patientinvestigationnumb" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="patientinvestigationnumb" type="patientinvestigationnumb"/>
	<xs:complexType name="patientbirthdateformat" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="patientbirthdateformat" type="patientbirthdateformat"/>
	<xs:complexType name="patientbirthdate" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="patientbirthdate" type="patientbirthdate"/>
	<xs:complexType name="patientonsetage" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="patientonsetage" type="patientonsetage"/>
	<xs:complexType name="patientonsetageunit" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="patientonsetageunit" type="patientonsetageunit"/>
	<xs:complexType name="gestationperiod" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="gestationperiod" type="gestationperiod"/>
	<xs:complexType name="gestationperiodunit" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="gestationperiodunit" type="gestationperiodunit"/>
	<xs:complexType name="patientagegroup" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="patientagegroup" type="patientagegroup"/>
	<xs:complexType name="patientweight" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="patientweight" type="patientweight"/>
	<xs:complexType name="patientheight" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="patientheight" type="patientheight"/>
	<xs:complexType name="patientsex" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="patientsex" type="patientsex"/>
	<xs:complexType name="lastmenstrualdateformat" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="lastmenstrualdateformat" type="lastmenstrualdateformat"/>
	<xs:complexType name="patientlastmenstrualdate" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="patientlastmenstrualdate" type="patientlastmenstrualdate"/>
	<xs:complexType name="patientepisodename" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="patientepisodename" type="patientepisodename"/>
	<xs:complexType name="patientmedicalstartdateformat" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="patientmedicalstartdateformat" type="patientmedicalstartdateformat"/>
	<xs:complexType name="patientmedicalstartdate" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="patientmedicalstartdate" type="patientmedicalstartdate"/>
	<xs:complexType name="patientmedicalcontinue" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="patientmedicalcontinue" type="patientmedicalcontinue"/>
	<xs:complexType name="patientmedicalenddateformat" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="patientmedicalenddateformat" type="patientmedicalenddateformat"/>
	<xs:complexType name="patientmedicalenddate" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="patientmedicalenddate" type="patientmedicalenddate"/>
	<xs:complexType name="patientmedicalcomment" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="patientmedicalcomment" type="patientmedicalcomment"/>
	<xs:complexType name="patientmedicalhistorytext" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="patientmedicalhistorytext" type="patientmedicalhistorytext"/>
	<xs:complexType name="patientdrugname" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="patientdrugname" type="patientdrugname"/>
	<xs:complexType name="patientdrugstartdateformat" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="patientdrugstartdateformat" type="patientdrugstartdateformat"/>
	<xs:complexType name="patientdrugstartdate" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="patientdrugstartdate" type="patientdrugstartdate"/>
	<xs:complexType name="patientdrugenddateformat" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="patientdrugenddateformat" type="patientdrugenddateformat"/>
	<xs:complexType name="patientdrugenddate" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="patientdrugenddate" type="patientdrugenddate"/>
	<xs:complexType name="patientdrugindication" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="patientdrugindication" type="patientdrugindication"/>
	<xs:complexType name="patientdrugreaction" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="patientdrugreaction" type="patientdrugreaction"/>
	<xs:complexType name="patientdeathdateformat" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="patientdeathdateformat" type="patientdeathdateformat"/>
	<xs:complexType name="patientdeathdate" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="patientdeathdate" type="patientdeathdate"/>
	<xs:complexType name="patientdeathreport" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="patientdeathreport" type="patientdeathreport"/>
	<xs:complexType name="patientautopsyyesno" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="patientautopsyyesno" type="patientautopsyyesno"/>
	<xs:complexType name="patientdetermineautopsy" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="patientdetermineautopsy" type="patientdetermineautopsy"/>
	<xs:complexType name="parentidentification" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="parentidentification" type="parentidentification"/>
	<xs:complexType name="parentbirthdateformat" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="parentbirthdateformat" type="parentbirthdateformat"/>
	<xs:complexType name="parentbirthdate" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="parentbirthdate" type="parentbirthdate"/>
	<xs:complexType name="parentage" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="parentage" type="parentage"/>
	<xs:complexType name="parentageunit" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="parentageunit" type="parentageunit"/>
	<xs:complexType name="parentlastmenstrualdateformat" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="parentlastmenstrualdateformat" type="parentlastmenstrualdateformat"/>
	<xs:complexType name="parentlastmenstrualdate" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="parentlastmenstrualdate" type="parentlastmenstrualdate"/>
	<xs:complexType name="parentweight" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="parentweight" type="parentweight"/>
	<xs:complexType name="parentheight" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="parentheight" type="parentheight"/>
	<xs:complexType name="parentsex" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="parentsex" type="parentsex"/>
	<xs:complexType name="parentmedicalepisodename" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="parentmedicalepisodename" type="parentmedicalepisodename"/>
	<xs:complexType name="parentmedicalstartdateformat" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="parentmedicalstartdateformat" type="parentmedicalstartdateformat"/>
	<xs:complexType name="parentmedicalstartdate" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="parentmedicalstartdate" type="parentmedicalstartdate"/>
	<xs:complexType name="parentmedicalcontinue" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="parentmedicalcontinue" type="parentmedicalcontinue"/>
	<xs:complexType name="parentmedicalenddateformat" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="parentmedicalenddateformat" type="parentmedicalenddateformat"/>
	<xs:complexType name="parentmedicalenddate" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="parentmedicalenddate" type="parentmedicalenddate"/>
	<xs:complexType name="parentmedicalcomment" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="parentmedicalcomment" type="parentmedicalcomment"/>
	<xs:complexType name="parentmedicalrelevanttext" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="parentmedicalrelevanttext" type="parentmedicalrelevanttext"/>
	<xs:complexType name="parentdrugname" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="parentdrugname" type="parentdrugname"/>
	<xs:complexType name="parentdrugstartdateformat" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="parentdrugstartdateformat" type="parentdrugstartdateformat"/>
	<xs:complexType name="parentdrugstartdate" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="parentdrugstartdate" type="parentdrugstartdate"/>
	<xs:complexType name="parentdrugenddateformat" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="parentdrugenddateformat" type="parentdrugenddateformat"/>
	<xs:complexType name="parentdrugenddate" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="parentdrugenddate" type="parentdrugenddate"/>
	<xs:complexType name="parentdrugindication" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="parentdrugindication" type="parentdrugindication"/>
	<xs:complexType name="parentdrugreaction" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="parentdrugreaction" type="parentdrugreaction"/>
	<xs:complexType name="primarysourcereaction" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="primarysourcereaction" type="primarysourcereaction"/>
	<xs:complexType name="termhighlighted" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="termhighlighted" type="termhighlighted"/>
	<xs:complexType name="reactionstartdateformat" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="reactionstartdateformat" type="reactionstartdateformat"/>
	<xs:complexType name="reactionstartdate" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="reactionstartdate" type="reactionstartdate"/>
	<xs:complexType name="reactionenddateformat" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="reactionenddateformat" type="reactionenddateformat"/>
	<xs:complexType name="reactionenddate" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="reactionenddate" type="reactionenddate"/>
	<xs:complexType name="reactionduration" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="reactionduration" type="reactionduration"/>
	<xs:complexType name="reactiondurationunit" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="reactiondurationunit" type="reactiondurationunit"/>
	<xs:complexType name="reactionfirsttime" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="reactionfirsttime" type="reactionfirsttime"/>
	<xs:complexType name="reactionfirsttimeunit" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="reactionfirsttimeunit" type="reactionfirsttimeunit"/>
	<xs:complexType name="reactionlasttime" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="reactionlasttime" type="reactionlasttime"/>
	<xs:complexType name="reactionlasttimeunit" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="reactionlasttimeunit" type="reactionlasttimeunit"/>
	<xs:complexType name="reactionoutcome" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="reactionoutcome" type="reactionoutcome"/>
	<xs:complexType name="testdateformat" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="testdateformat" type="testdateformat"/>
	<xs:complexType name="testdate" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="testdate" type="testdate"/>
	<xs:complexType name="testname" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="testname" type="testname"/>
	<xs:complexType name="testresult" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="testresult" type="testresult"/>
	<xs:complexType name="testunit" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="testunit" type="testunit"/>
	<xs:complexType name="lowtestrange" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="lowtestrange" type="lowtestrange"/>
	<xs:complexType name="hightestrange" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="hightestrange" type="hightestrange"/>
	<xs:complexType name="moreinformation" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="moreinformation" type="moreinformation"/>
	<xs:complexType name="resultstestsprocedures" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="resultstestsprocedures" type="resultstestsprocedures"/>
	<xs:complexType name="drugcharacterization" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="drugcharacterization" type="drugcharacterization"/>
	<xs:complexType name="medicinalproduct" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="medicinalproduct" type="medicinalproduct"/>
	<xs:complexType name="activesubstancename" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="activesubstancename" type="activesubstancename"/>
	<xs:complexType name="obtaindrugcountry" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="obtaindrugcountry" type="obtaindrugcountry"/>
	<xs:complexType name="drugbatchnumb" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="drugbatchnumb" type="drugbatchnumb"/>
	<xs:complexType name="drugauthorizationnumb" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="drugauthorizationnumb" type="drugauthorizationnumb"/>
	<xs:complexType name="drugauthorizationcountry" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="drugauthorizationcountry" type="drugauthorizationcountry"/>
	<xs:complexType name="drugauthorizationholder" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="drugauthorizationholder" type="drugauthorizationholder"/>
	<xs:complexType name="drugstructuredosagenumb" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="drugstructuredosagenumb" type="drugstructuredosagenumb"/>
	<xs:complexType name="drugstructuredosageunit" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="drugstructuredosageunit" type="drugstructuredosageunit"/>
	<xs:complexType name="drugseparatedosagenumb" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="drugseparatedosagenumb" type="drugseparatedosagenumb"/>
	<xs:complexType name="drugintervaldosageunitnumb" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="drugintervaldosageunitnumb" type="drugintervaldosageunitnumb"/>
	<xs:complexType name="drugintervaldosagedefinition" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="drugintervaldosagedefinition" type="drugintervaldosagedefinition"/>
	<xs:complexType name="drugcumulativedosagenumb" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="drugcumulativedosagenumb" type="drugcumulativedosagenumb"/>
	<xs:complexType name="drugcumulativedosageunit" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="drugcumulativedosageunit" type="drugcumulativedosageunit"/>
	<xs:complexType name="drugdosagetext" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="drugdosagetext" type="drugdosagetext"/>
	<xs:complexType name="drugdosageform" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="drugdosageform" type="drugdosageform"/>
	<xs:complexType name="drugadministrationroute" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="drugadministrationroute" type="drugadministrationroute"/>
	<xs:complexType name="drugparadministration" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="drugparadministration" type="drugparadministration"/>
	<xs:complexType name="reactiongestationperiod" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="reactiongestationperiod" type="reactiongestationperiod"/>
	<xs:complexType name="reactiongestationperiodunit" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="reactiongestationperiodunit" type="reactiongestationperiodunit"/>
	<xs:complexType name="drugindication" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="drugindication" type="drugindication"/>
	<xs:complexType name="drugstartdateformat" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="drugstartdateformat" type="drugstartdateformat"/>
	<xs:complexType name="drugstartdate" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="drugstartdate" type="drugstartdate"/>
	<xs:complexType name="drugstartperiod" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="drugstartperiod" type="drugstartperiod"/>
	<xs:complexType name="drugstartperiodunit" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="drugstartperiodunit" type="drugstartperiodunit"/>
	<xs:complexType name="druglastperiod" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="druglastperiod" type="druglastperiod"/>
	<xs:complexType name="druglastperiodunit" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="druglastperiodunit" type="druglastperiodunit"/>
	<xs:complexType name="drugenddateformat" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="drugenddateformat" type="drugenddateformat"/>
	<xs:complexType name="drugenddate" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="drugenddate" type="drugenddate"/>
	<xs:complexType name="drugtreatmentduration" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="drugtreatmentduration" type="drugtreatmentduration"/>
	<xs:complexType name="drugtreatmentdurationunit" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="drugtreatmentdurationunit" type="drugtreatmentdurationunit"/>
	<xs:complexType name="actiondrug" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="actiondrug" type="actiondrug"/>
	<xs:complexType name="drugrecurreadministration" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="drugrecurreadministration" type="drugrecurreadministration"/>
	<xs:complexType name="drugrecuraction" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="drugrecuraction" type="drugrecuraction"/>
	<xs:complexType name="drugreactionasses" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="drugreactionasses" type="drugreactionasses"/>
	<xs:complexType name="drugassessmentsource" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="drugassessmentsource" type="drugassessmentsource"/>
	<xs:complexType name="drugassessmentmethod" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="drugassessmentmethod" type="drugassessmentmethod"/>
	<xs:complexType name="drugresult" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="drugresult" type="drugresult"/>
	<xs:complexType name="drugadditional" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="drugadditional" type="drugadditional"/>
	<xs:complexType name="narrativeincludeclinical" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="narrativeincludeclinical" type="narrativeincludeclinical"/>
	<xs:complexType name="reportercomment" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="reportercomment" type="reportercomment"/>
	<xs:complexType name="senderdiagnosis" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="senderdiagnosis" type="senderdiagnosis"/>
	<xs:complexType name="sendercomment" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="sendercomment" type="sendercomment"/>
	<xs:complexType name="patientepisodenamemeddraversion" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="patientepisodenamemeddraversion" type="patientepisodenamemeddraversion"/>
	<xs:complexType name="patientdeathreportmeddraversion" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="patientdeathreportmeddraversion" type="patientdeathreportmeddraversion"/>
	<xs:complexType name="patientdetermautopsmeddraversion" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="patientdetermautopsmeddraversion" type="patientdetermautopsmeddraversion"/>
	<xs:complexType name="parentmdepisodemeddraversion" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="parentmdepisodemeddraversion" type="parentmdepisodemeddraversion"/>
	<xs:complexType name="patientindicationmeddraversion" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="patientindicationmeddraversion" type="patientindicationmeddraversion"/>
	<xs:complexType name="parentdrgreactionmeddraversion" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="parentdrgreactionmeddraversion" type="parentdrgreactionmeddraversion"/>
	<xs:complexType name="parentdrgindicationmeddraversion" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="parentdrgindicationmeddraversion" type="parentdrgindicationmeddraversion"/>
	<xs:complexType name="drugindicationmeddraversion" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="drugindicationmeddraversion" type="drugindicationmeddraversion"/>
	<xs:complexType name="patientdrgreactionmeddraversion" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="patientdrgreactionmeddraversion" type="patientdrgreactionmeddraversion"/>
	<xs:complexType name="drugreactionassesmeddraversion" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="drugreactionassesmeddraversion" type="drugreactionassesmeddraversion"/>
	<xs:complexType name="reactionmeddraversionpt" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="reactionmeddraversionpt" type="reactionmeddraversionpt"/>
	<xs:complexType name="reactionmeddrapt" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="reactionmeddrapt" type="reactionmeddrapt"/>
	<xs:complexType name="reactionmeddraversionllt" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="reactionmeddraversionllt" type="reactionmeddraversionllt"/>
	<xs:complexType name="reactionmeddrallt" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="reactionmeddrallt" type="reactionmeddrallt"/>
	<xs:complexType name="drugrecuractionmeddraversion" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="drugrecuractionmeddraversion" type="drugrecuractionmeddraversion"/>
	<xs:complexType name="senderdiagnosismeddraversion" mixed="true">
		<xs:attribute name="lang"/>
	</xs:complexType>
	<xs:element name="senderdiagnosismeddraversion" type="senderdiagnosismeddraversion"/>
	<xs:complexType name="seriousnesshospitalization" mixed="true">
		<xs:sequence>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="seriousnesshospitalization" type="seriousnesshospitalization"/>
	<xs:complexType name="seriousnesslifethreatening" mixed="true">
		<xs:sequence>

		</xs:sequence>
	</xs:complexType>
	<xs:element name="seriousnesslifethreatening" type="seriousnesslifethreatening"/>
</xs:schema>